:root{
	--color-light-blue-grey: #e9edf5;
	--color-light-grey: #808080;
}

.text-center > p{
	color: var(--color-light-grey);
}

.navbar{
	background-color: var(--color-light-blue-grey);
}

.bg-grey{
	background-color: var(--color-light-blue-grey);
}
